.login{
    width: 100vw;
    height: 100vh;
    background-color: #FFD7D7;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.login-Wrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
  
.login-Wrapper-Left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.login-Wrapper-Left_Logo{
    width: 80px;
    height: 80px;
}
  
.login-Wrapper-Left_Title h1{
    font-size: 28px;
    color: #FD2D01;
}

.login-Wrapper-Left_Title h2{
    font-size: 20px;
}

.login-Wrapper-Right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.login-Wrapper-Right-Box{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
  
.login-Wrapper-Right-Box_input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
  
.login-Wrapper-Right-Box_input:focus{
    outline: none;
}
  
.submitButton{
    width: 30%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #4E5166;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
  
.notLoginOrRegister{
    text-align: center;
    color: #4E5166;
}

.cursorPointer{
    cursor: pointer;
}

span {
    align-self: center;
}